* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.5;
  font-family: sans-serif;
  border-radius: none;
  color: #0c0c0c;
}

body .container {
  max-width: 80%;
  margin: 0 auto;
  text-align: justify;
}

body header h1 {
  font-size: 2rem;
  text-align: center;
  margin: 2rem;
}

body main p {
  margin: 1rem 0;
  text-align: justify;
}

body main .link {
  text-align: center;
}

body main .linkIndex {
  text-decoration: none;
  background-color: rgb(231, 231, 231);
  padding: 0.5rem 2rem;
}

body .linkIndex {
  cursor: pointer;
  background-color: #dcdcdc;
  border: none;
  transition: all 0.2s ease-in-out;
  border-radius: 5px;
}

body .linkIndex:hover {
  background-color: rgba(0, 0, 0, 0.35);
  outline: none;
  border: none;
}

body .link:active {
  transform: scale(1.01);
}

body main .fa-arrow-left {
  display: inline-block;
  margin-right: 0.5rem;
}

body main .imagens {
  padding: 0.5rem;
  text-align: center;
}

body main .imagens img {
  max-width: 80%;
}

@media (max-width: 600px) {
  body .container {
    max-width: 98%;
    margin: 1rem auto;
    padding: 0 1rem;
  }

  body main .imagens {
    text-align: center;
  }

  body main .imagens img {
    max-width: 96%;
  }
}
